#playlistScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-x: hidden;
}

.playlistAvatarPic {
    width: 232px;
    height: 232px;
    border-radius: 12px;
    object-fit: cover;
}

.infoPlaylist {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textSpace {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoPlaylistWrapper {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.listOfTool button {
    border: none;
}

.buttonPlay {
    width: 64px;
    height: 64px;
    background-color: #296265;
    border-radius: 64px;
}

.icon {
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.leftTools {
    display: flex;
    gap: 47px;
    align-items: center;
}

.listOfTool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.leftInfo {
    display: flex;
    gap: 34px;
}

#playlistScreen header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 12px;
}

/* PLAYLIST ITEM */
.itemPlaylist {
    justify-content: space-between;
}

.infoItemPlaylist img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.infoItemPlaylist .textInfoPlaylist {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.infoItemPlaylist {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 10;
}

.leftItemPlaylist {
    display: flex;
    gap: 34px;
    align-items: center;
    width: fit-content;
}

.rightItemPlaylist button {
    border: none;
}

.rightItemPlaylist .icon {
    background-color: transparent;
    width: 28px;
    height: 28px;
}

.rightItemPlaylist {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-right: 16px;
}

.itemPlaylist {
    display: flex;
    width: 100%;
}

#playlistScreen main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.itemPlaylistContainer:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.optionsWrapper {
    position: relative;
}

.optionsMenu {
    position: absolute;
    top: 100%;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ffffff16;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px;
}

.optionItem {
    padding: 8px 16px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
}

.optionItem:hover {
    background-color: #555555;
}

/* UPDATE PLAYLIST BOX */
.backgroundSpace {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.mainBoxContainer {
    width: 440px;
    height: 674px;
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.backgroundSpace button {
    border: none;
    cursor: pointer;
}

.closeBtn {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    position: absolute;
}

.iconBack {
    width: 30px;
    height: 30px;
}

.mainBoxContainer h4 {
    margin-top: 104px;
    text-align: center;
}

.avatarPlaylistPic {
    width: 104px;
    height: 104px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    object-fit: cover;
}

.avatarContainer {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.avatarContainer button {
    position: absolute;
    width: 104px;
    height: 104px;
    opacity: 50%;
}

.icon {
    background-color: transparent;
    width: 28px;
    height: 28px;
}

.nameInputContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 285px;
    justify-self: center;
}

.inputName,
.inputDiscription {
    padding: 0 20px;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

.inputDiscription {
    height: 140px;
    padding: 10px 20px;
    text-wrap: wrap;
}

.updateBtn {
    padding: 6px 24px;
    background-color: #296265;
    border-radius: 5px;
}

.inputFillContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.updateContainer {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: flex-end;
    width: fit-content;
    justify-self: center;
}