.authorInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.authorPic {
    width: 136px;
    height: 136px;
    border-radius: 136px;
    object-fit: cover;
    object-position: top;
}

.authorItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    border-radius: 8px;
    padding: 16px 22px;
}

.authorItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.authorContainer {
    display: flex;

    margin-bottom: 40px;
    overflow-y: hidden;
    width: 100%;
}
