b {
    background-color: transparent;
}

.table {
    width: 100%;
    min-width: 900px;
    /* hoặc lớn hơn nếu nhiều cột */
    border-collapse: separate;
    border-spacing: 0;
    background: transparent;
    margin-top: 24px;
    margin-bottom: 52px;
}

.table th,
.table td {
    padding: 16px 20px;
    text-align: left;
    white-space: nowrap;
}

.table th {
    background: transparent;
    border-bottom: none;
    user-select: none;
}

.table td {
    color: #C6C6C6;
    font-weight: 500;
    background: transparent;
    border-bottom: none;
}

.songInfoContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.songImg {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    object-fit: cover;
    background: #eee;
}

.songName {
    font-size: 20px;
    color: #C6C6C6;
    font-weight: 500;
}

.songGenre {
    color: #C6C6C6;
    font-size: 20px;
    font-weight: 500;
}

.songInfo {
    display: flex;
    flex-direction: column;
}

.table tr:hover td {
    background: #181818;
}

.table th:first-child,
.table td:first-child {
    width: 40px;
    text-align: center;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #fff;
    background: #000;
    border: 2px solid #fff;
    border-radius: 4px;
    margin: 0 6px 0 12px;
    vertical-align: middle;
}

.container h3 {
    text-align: center;
}

.tableWrapper {
    width: 100%;
    overflow-x: auto;
}

.button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.viewButton {
    background-color: #3498db;
    color: white;
    margin-right: 8px;
}

.deleteButton {
    background-color: #e74c3c;
    color: white;
}