/* GENERAL CSS */

* {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Helvetica Neue', Helvetica;
  margin: 0;
  padding: 0;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 92px;
    line-height: 110%;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
}

h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
}

h5, h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
}

.p1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.p2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.p3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.uiSemibold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.uiMedium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.uiRegular {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.o75 {
  color: rgba(255, 255, 255, 0.75);
}

.o50 {
  color: rgba(255, 255, 255, 0.5);
}

.o25 {
  color: rgba(255, 255, 255, 0.25);
}

h1, h2, h3, h4, h5, p, a, button, img, div, span, label, header, nav, main {
  background-color: transparent;
}

.noBG {
  background-color: transparent;
}

.w0 {
  width: 0;
}

.w20 {
  width: 20vw;
}

.w60 {
  width: 60vw;
}

.w76 {
  width: 76vw;
}

.w24{
  width: 24vw;
}

.ml20 {
  margin-left: 20px;
}

.hoverPoiter {
  cursor: pointer;
}

/* Responsive for tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
  }

  h5,
  h6 {
    font-size: 18px;
  }

  .p1 {
    font-size: 18px;
  }

  .p2 {
    font-size: 16px;
  }

  .p3,
  .uiSemibold,
  .uiMedium,
  .uiRegular {
    font-size: 12px;
  }

  .w20 {
    width: 40vw;
  }

  .w24 {
    width: 48vw;
  }

  .w60 {
    width: 80vw;
  }

  .w76 {
    width: 90vw;
  }
}

/* Responsive for mobile */
@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5,
  h6 {
    font-size: 14px;
  }

  .p1,
  .p2,
  .p3,
  .uiSemibold,
  .uiMedium,
  .uiRegular {
    font-size: 12px;
  }

  .w20,
  .w24,
  .w60,
  .w76 {
    width: 96vw;
  }

  .ml20 {
    margin-left: 8px;
  }
}